<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="/statics/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/statics/stylesheets/style.css" rel="stylesheet">
    <script src="/statics/libs/jquery/jquery-1.12.1.min.js"></script>
    <script src="/statics/libs/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    You are logged in

</body>

</html>